<h1>About Arleigh</h1>
<h3>All the reasons Arleigh is awesome...</h3>
<div class="images">
  <img src="">
  <img src="">
  <img src="">
  <img src=""<
</div>
<p>She kicks ass<p>
<p>She takes names</p>
<p>She recycles</p>
<p>She loves math, Harry Potter, Game of Thrones, and all things nerdy</p>
<p>She saves kittens from burning buildings</p>
<p>She can fly</p>
