<style>
img {
    width:540px;
    height: auto;
}
</style>

<h1>Education</h1>
<h2>Hogwarts</h2>
<h3>School of Witchcraft and Wizardry</h3>
<img src="http://img07.deviantart.net/368c/i/2011/197/1/a/ravenclaw_flag_by_kooro_sama-d3x5pj3.png">
